/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


h1 {
  font-size: 2.5rem;
} 
h2 {
  font-size: 2rem;
} 
h3 {
  font-size: 1.75rem;
} 
h4 {
  font-size: 1.5rem;
} 
h5 {
  font-size: 1.25rem;
} 
h6 {
  font-size: 1rem;
}

/* Material element cursor pointer on hover */
.material {
  height: 40px
  cursor: pointer;
  float: left;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  text-decoration: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.material+.material {
  margin: 1rem 0 0 1rem;
}
.material a {
  text-decoration: none;
}

/* Remove selection background from Material elements */
.material::selection {
  background: none;
}

/* Material Button and Icon default background */
nav.material, input[type="button"].material,input[type="submit"].material, .material.button,.material.icon {
  background-color: #58ACFA;
}

/* remove outline on Material Button click event */
.material:focus {
  border: none !important;
  outline: none !important;
}

/* Material Button / Icon basic design queues */
input[type="button"].material, input[type="submit"].material,.material.button,.material.icon {
  border-width: 0px;
  color: #FFF;
  display: inline-block;
  font-size: 0.8rem;
  -webkit-transition: ease box-shadow 0.2s linear;
  -moz-transition: ease box-shadow 0.2s linear;
  -ms-transition: ease box-shadow 0.2s linear;
  -o-transition: ease box-shadow 0.2s linear;
  transition: ease box-shadow 0.2s linear;
}


/* Material Icon structure */
.material.icon {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 1.5rem !important;
  line-height: 50% !important;
  padding: 1rem 1rem 1.2rem 1.1rem;
  transition: box-shadow ease 0.3s;
}
/* Material Icon click effect(s) */
.material.icon:active {
  box-shadow: 0 9px 5px 1px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow ease 0.3s;
}


/* Material Nav */
nav.material {
  color: #FFF;
  float: left;
  width: 100%;
}
nav.material a {
  color: inherit;
  float: left;
  line-height: 4rem;
  padding: 0 12px;
  text-decoration: none;
}

nav.material a:hover {
  background-color: #3D73F0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: all 0.5s linear;
}

nav.material .brand-logo {
  max-height: 3.5rem;
}
/* Align a Nav brand logo to the right with: class="brand-logo right" */
nav.material .brand-logo.right {
  float: right;
  padding: 0 0.5rem 0 0;
}
/* Fix the display of Nav glyphicons */
nav.material .glyphicon {
  background: none !important;
}

/* Material Menu design */
.material.menu,.material.menu ul:hover ul,.material.menu ul:hover ul:hover ul {
  background-color: #FFF;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 0.85rem;
  line-height: 2rem;
}
.material.menu a,.material.menu li {
  color: #555 !important;
}
.material.menu ul,.material.menu ol {
  padding-top: 1rem;
}
/* Material Menu 2nd+ list structure */
.material.menu ul+ul,.material.menu ol+ol {
  border-top: solid #DFDFDF 1px;
  padding: 0rem 0 1rem 0;
}
/* Material Menu list structure */
.material.menu li {
  background-color: #FFF;
  padding: 0 1.5rem;
  position: relative;
}
/* Material Menul list hover effect(s) */
.material.menu li:hover {
  background-color: #EEE;
}
/* Material Menu list item right text / icon(s) */
.material.menu .right {
  float: right;
  text-align: right;
}

/* Material Menu 2nd menu popup hide on default */
.material.menu ul ul {
  display: none;
  visibility: hidden;
}
/* Material Card 2nd menu popup hide if not hovering trigger list item */
.material.menu ul li:not(:hover)+ul:not(:hover) {
  visibility: hidden;
}
/* Material Menu 2nd menu popup show on trigger list item hover */
.material.menu ul:hover ul {
  box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: 16.5rem;
  padding-top: 1rem;
  position: absolute;
  z-index: 1000;
  visibility: visible;
}
/* Material Menu 2nd menu popup list items align to right of trigger list item */
.material.menu ul:hover ul li:first-child {
  margin-top: -3rem;
}

/* Material Menu 3rd menu popup hide on default */
.material.menu ul ul li:not(:hover)+ul:not(:hover) {
  visibility: hidden;
}
/* Material Menu 3rd menu popup show on trigger list item hover */
.material.menu ul ul {
  padding-top: 1rem;
  position: absolute;
  z-index: 2000;
  visibility: visible;
  width: 17.5rem;
}
/* Material Card 3rd menu popup list items align to left of trigger list item */
.material.menu ul ul:hover ul {
  margin-left: -17rem;
}
/* Fix menu to align to the top of trigger list item */
.material.menu ul ul:hover ul li:first-child {
  margin-top: -3rem;
}
.material.menu {
  width: 17rem;
}

/* Material Card design */
.material.card {
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material.card img {
  background-color: slategray;
  border-radius: 50%;
  float: left;
  height: 7rem;
  margin: 1rem 0rem 1rem 0.5rem;
  width: 7rem;
}

.material.card h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.material.card h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.material.card span {
  display: block;
  margin: 0.5rem 1rem;
}
.material.card .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: left;
}

/*Tarjetas*/

/* Material Card design */
.material.tarjeta {
  background-color: #FFF;
  width: 95%;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material.tarjeta img {
  background-color: slategray;

  float: center;
  height: 180px;
  margin: 1rem 1rem 1rem 1rem;
  width: 350px;
}
.material.tarjeta h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.0rem;
  padding: 0 1rem;
    text-align: left;
  

}

.material.tarjeta h2{
  font-size: 1.5rem;
  padding: 0 1rem;
    text-align: left;
  

}
.material.tarjeta span {
  display: block;
  margin: 0.9rem 0.7rem;
    text-align: justify;

}
.material.tarjeta .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}




/* Forms */
form.material {
  margin: 1%;
}
form.material input {
  background: none;
  border-color: #000;
  border-width: 0 0 1px 0;
  float: left;
  outline: none;
  padding: 3% 0;
}
/* Placeholder (in progress) */
form.material input::-webkit-input-placeholder {
  color: #888;
}
form.material input:-moz-placeholder { /* Firefox 18- */
  color: #888;  
}
form.material input::-moz-placeholder {  /* Firefox 19+ */
  color: #888;  
}
form.material input:-ms-input-placeholder {  
  color: #888;  
}
/* Placeholder on input focus */
form.material input:focus::-webkit-input-placeholder {
  color: #000 !important;
  display: block !important;
  position: relative;
  top: -1.5rem;
}
form.material input:focus:-moz-placeholder { /* Firefox 18- */
  color: #000 !important;
  display: block !important;
  position: relative;
  top: -1.5rem;
}
form.material input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: #000 !important;
  display: block !important;
  position: relative;
  top: -1.5rem;
}
form.material input:focus:-ms-input-placeholder {  
  color: #000 !important;
  display: block !important;
  position: relative;
  top: -1.5rem;
}

/*BOTON*/

.mat-btn {
  width: 62px;
  height: 62px;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  transition: height 1s;
}


.mat-btn:hover {
  height: 220px;
  transition: height 0s;
  transition-delay: height 2s;
}

.mat-btn ul {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
}

.mat-btn ul ul {
  position: relative;
  bottom: 220px;
}
.mat-btn li {
  list-style: none;
}

.mat-btn a {
  font-family: "helvetica neue" sans-serif;
  height: 100%;
  width: 100%;
  line-height: 35px;
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
}

.mat-btn ul li {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px -3px #000;
  background: #58ACFA;
  transition: 0.2s;
}

.mat-btn ul .spin-btn {
  background-image: url("../images/bt_speed_dial_2x.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.mat-btn:hover ul .spin-btn {
  transform: rotate(360deg);
  background-image: url("../images/bt_compose2_2x.png ");
}

.mat-btn ul li ul li {
  margin: 15px auto;
  height: 35px;
  width: 35px;
  transition: 0.1s;
}

.mat-btn ul li ul li:hover {
  box-shadow: 3px 3px 15px -3px #000;
}

.mat-btn ul li ul li:nth-child(1) {
  background: #aed581;
  opacity: 0;
  transition-delay: 0.01s;
}

.mat-btn ul li ul li:nth-child(2) {
  background: #3c80f6;
  opacity: 0;
  transition-delay: 0.05s;
}

.mat-btn ul li ul li:nth-child(3) {
  background: #d2a518;
  opacity: 0;
  transition-delay: 0.09s;
}

.mat-btn:hover ul li ul li:nth-child(1) {
  opacity: 1;
  transition-delay: 0.09s;
}

.mat-btn:hover ul li ul li:nth-child(2) {
  opacity: 1;
  transition-delay: 0.05s;
}

.mat-btn:hover ul li ul li:nth-child(3) {
  opacity: 1;
  transition-delay: 0.01s;
}

/*register*/

        /*basic reset*/
        * {

            padding: 0; 
            box-sizing: border-box;

        }

        body {
            font-family: Sniglet;
            font-weight: 300;
            font-size: 14px;
            background-color: #ECF8E0;
        }

        .form_wrapper {
            box-sizing: border-box;
            margin: auto;
            display: block;
            width: 95%;
            float: center;
            padding-bottom: 2px;
            background: white;
            box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
            border-radius: 2px;
            background-color: #FFF;
        }

        .form_wrapper h3 {
            margin-bottom: 40px;
            padding: 20px;
            background: #eee;
            border: 1px solid #ddd;
            text-align: center;
        }

        input {
            margin-bottom: 10px;
        }

        input[type="password"],input[type="text"] {
            width: 100%;
            border: 0px;
            
            padding: 5px 0px;
            background: rgba(0,0,0,0);
            border-bottom: 1px solid teal;
        }

        input[type="email"],input[type="email"] {
            width: 100%;
            border: 0px;
            
            padding: 5px 0px;
            background: rgba(0,0,0,0);
            border-bottom: 1px solid teal;
        }

        

        .element-wrapper {
            position: relative;
            margin-bottom: 40px;
            padding: 0px 20px;
        }

        label {
            position: absolute;
            top: 0px;
            left: 20px;
            font-size: 20px;
            transform-origin: top left;
            transition: transform ease-out .2s;   
        }

        input:focus {
            outline: 0;
            border-bottom: 2px solid #1976D2;;
        }

        input:focus ~ label, input:valid ~ label{
            color: teal;
            transform: scale(0.8) translate(-10px,-25px);
        }

        input[type="submit"] {
            width: 100%;
            padding: 15px 0px;
            background: rgba(00,100,200,.3);
            outline: none;
            border: 1px solid transparent;
            border-radius: 2px;
            cursor: pointer;
            font-size: 15px;
        }

        input[type="submit"]:hover {
            border: 1px solid white;
            background: rgba(100,100,200,.3);
        }


.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: 1px solid red;
  transform: scale(0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-animation: ripple 0.75s ease-out;
  -moz-animation: ripple 0.75s ease-out;
  animation: ripple 0.75s ease-out;
}
@-webkit-keyframes ripple {
  from {
    opacity: 1;
    border-radius: 100%;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.GF-btn {
  display: inline-block;
  margin: 0.3em;
  padding: 0.5em 5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 12px;
  text-align: left;
}

.GF-btn-blue {
  background: #58ACFA;
  color: #ffffff;
  text-align: left;
}


/* Material Card design */
.material.blogroll {
  background-color: #FFF;
  width: 29%;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material.blogroll img {
  background-color: slategray;
  float: center;
  margin: 0.0rem 1rem 1rem 1rem;
}
.material.blogroll h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.0rem;
  padding: 0 1rem;
    text-align: left;
  

}

.material.blogroll h2{
  font-size: 1.5rem;
  padding: 0 1rem;
    text-align: left;
  

}
.material.blogroll span {
  display: block;
  margin: 0.9rem 0.7rem;
    text-align: justify;

}
.material.blogroll .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}

/* Material Card design */
.material.base {
  background-color: #FFF;
  width: 49%;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material.base img {
  background-color: slategray;
  float: center;
  margin: 0.0rem 1rem 1rem 1rem;
}
.material.base h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.0rem;
  padding: 0 1rem;
    text-align: left;
  

}

.material.base h2{
  font-size: 1.5rem;
  padding: 0 1rem;
    text-align: left;
  

}
.material.base span {
  display: block;
  margin: 0.9rem 0.7rem;
    text-align: justify;

}
.material.base .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}

/* Material Card design */
.material.rss {
  background-color: #FFF;
  width: 14%;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material.rss img {
  background-color: slategray;
  float: center;
  margin: 0.0rem 1rem 1rem 1rem;
}
.material.rss h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.0rem;
  padding: 0 1rem;
    text-align: left;
  

}

.material.rss h2{
  font-size: 1.5rem;
  padding: 0 1rem;
    text-align: left;
  

}
.material.rss span {
  display: block;
  margin: 0.9rem 0.7rem;
    text-align: justify;

}
.material.rss .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}

/* Material Card design */
.material.pie {
  background-color: #FFF;
  width: 95%;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  overflow: hidden;
  position: fixed;
  bottom: 10px;
  
  text-align: center;
  cursor: pointer;
}
.material.pie img {
  background-color: slategray;

  float: center;
  height: 180px;
  margin: 1rem 1rem 1rem 1rem;
  width: 350px;
}
.material.pie h1,.material.menu h2,.material.menu h3,.material.menu h4,.material.menu h5,.material.menu h6 {
  font-size: 1.0rem;
  padding: 0 1rem;
    text-align: left;
  

}

.material.pie h2{
  font-size: 1.5rem;
  padding: 0 1rem;
    text-align: left;
  

}
.material.pie span {
  display: block;
  margin: 0.9rem 0.7rem;
    text-align: justify;

}
.material.pie .right {
  float: right;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}