{% extends 'base.html' %}
{% load django_markdown %}

{% block contenido %}

<div class="col s1 m6">
  <div class="card grey lighten-5">
    <div class="card-content black-text">
<form  id='formulario' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
        <p>Título: {{formulario.title}}</p>
        <p>Texto: {{formulario.body|markdown}}</p>

        
    <div class="input-field col s12">
    <select name="categoria">
      <option value="" disabled selected>Elige un sistema operativo móvil</option>
      <option value="Android">Android</option>
      <option value="iOs">iOs</option>
      <option value="Windows">Windows</option>
    </select>

  </div>
        <p><input type='submit' value='Enviar' /></p>
    </form>   
    </div>
  </div>
</div>

    
  </div>








{% endblock %}