{% extends 'base.html' %}
{% load django_markdown %}
{% block contenido %}

{% for elemento in lista %}


    <div class="col s1 m6">
        <div class="card grey lighten-5">
            <div class="card-content black-text">
            <span class="card-title">{{elemento.title}}</span>
            <span align="left">{{elemento.body|markdown}}</span>

    <span align="left">Publicado por ti el dia {{elemento.created}} en <a href="/categoria/{{elemento.categoria}}">{{elemento.categoria}}</a></span><br><br>
    <span>
    <a class="waves-effect btn teal" href="/comentario/{{elemento.id}}"><i class="material-icons right">reply</i>Comentar</a>
    <a class="waves-effect teal btn" href="/editar/{{elemento.id}}"><i class="material-icons right">mode_edit</i>Editar</a>
    <a class="waves-effect teal btn" href="/eliminar/{{elemento.id}}"><i class="material-icons right">delete</i>Eliminar</a>
                </div>
        </div>
    </div>







{% empty %}

<div class="col s1 m6">
  <div class="card grey lighten-5">
    <div class="card-content black-text">
      <span class="card-title"><h2>No tiene ninguna entrada</h2></span>
    </div>
  </div>
</div>

{% endfor %}




{% endblock %}
