{% extends 'base.html' %}
{% load django_markdown %}
{% block contenido %}

{% for elemento in lista %}
   

   

      <div class="material card">
      <img alt="profile pic" src="{{ STATIC_URL }}/users/default.png">
      <div class="right">
        <h1>{{elemento.username}}</h1>
        <span><p>Registrado el {{elemento.date_joined}}<p></span>
        <span><p>Última vez online el {{elemento.last_login}}<p></span>
        <span><a class="GF-btn GF-btn-blue" href="/nuevo_mensaje/{{elemento.username}}">Enviar mensaje</a></span>
      </div>
      </div>


{% empty %}

    <div class="material tarjeta">

    <h2>No hay usuarios registrados</h2>
    </div>

{% endfor %}

{% endblock %}
